@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Controle de Estoque</h1>
    <p>Navegue entre as opções acima para gerenciar mercadorias bem como controlar a entrada e saída do estoque.</p>
</div>
